/* =============
    Section 2
============= */
#section-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 2em;
  grid-template-areas: ".section-2."; }
  #section-2 div {
    display: flex;
    font-size: rem-calc 30;
    justify-content: center; }
    #section-2 div i {
      font-size: rem-calc 30; }
    #section-2 div p {
      margin: 10px 10px; }
  #section-2 img {
    grid-column-start: 1;
    grid-column-end: 3; }
