/* =============
    Section 4
============= */

#section-4 {
  display: grid;
  grid-gap: 100px;

    .container {
      display: grid;
      grid-gap: 20px;
      position: center center;
      display: flex;
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;
      grid-template-columns: 1fr 1fr 1fr 
                            1fr 1fr 1fr;
      grid-template-areas: "item-a item-b item-c"
                            ". button-a .";
    }
  
    .item-a {
      grid-area: item-a;
      height: 325px;
      padding-top: 200px;
      grid-gap: 20px;
  
    }
  
    .item-b {
      grid-area:item-b;
      height: 325px;
      padding-top: 200px;
      grid-gap: 20px;
      
    }
  
    .item-c {
      grid-area: item-c;
      height: 325px;
      padding-top: 200px;
      grid-gap: 20px;
      
    }

    .logo-container {
      grid-area: button-a;
      padding: 10px;
      padding-top: 50px;
      align-items: center;
      text-align: center center;  
      

      a:link,
      a:visited {
        background-color: #fbec5d;
        border-radius: 23px;
        color: $black;
        font-size: 15px;
        font-weight: 500;
        padding: 10px 20px;
        font-family: 'Courier New', Courier, monospace;
        
      }

      a:hover,
      a:active {
        background-color: $black;
        color: $white;
      }
    }
}